<configuration>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- See http://logback.qos.ch/manual/layouts.html -->
            <!-- See http://doc.akka.io/docs/akka/2.0/scala/logging.html -->
            <pattern>[%level] [%d{HH:mm:ss.SSS}] [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="PerformanceLogging" level="off" additivity="false">
        <appender-ref ref="console"/>
    </logger>

    <logger name="org.broadinstitute.dsde" level="off" additivity="false">
        <appender-ref ref="console"/>
    </logger>

    <root level="warn">
        <appender-ref ref="console"/>
    </root>

</configuration>

